In [103]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', 200)

In [104]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [105]:
df_train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [106]:
df_test

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [107]:
df = pd.concat([df_train, df_test], ignore_index=True)

In [108]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter,NaN
12966,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron,NaN
12967,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore,NaN
12968,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale,NaN
12969,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley,NaN

In [109]:
df.isna().sum()

PassengerId        0
HomePlanet       288
CryoSleep        310
Cabin            299
Destination      274
Age              270
VIP              296
RoomService      263
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Name             294
Transported     4277
dtype: int64

In [110]:
df['Group'] = pd.to_numeric(df['PassengerId'].apply(lambda x: x.split('_')[0]))
df['Number'] = df['PassengerId'].apply(lambda x: x.split('_')[1])

df['GroupSize'] = df.groupby('Group')['PassengerId'].transform('count')


df['CabinDeck'] = df['Cabin'].apply(lambda x: x.split('/')[0] if pd.notna(x) else x)
df['CabinNum'] = pd.to_numeric(df['Cabin'].apply(lambda x: x.split('/')[1] if pd.notna(x) else x))
df['CabinSide'] = df['Cabin'].apply(lambda x: x.split('/')[2] if pd.notna(x) else x)

df.drop('Cabin', axis = 1, inplace=True)

df['Surname'] = df['Name'].apply(lambda x: x.split(' ')[1] if pd.notna(x) else x)
df['Name'] = df['Name'].apply(lambda x: x.split(' ')[0] if pd.notna(x) else x)

df['FamilySize'] = df.groupby('Surname')['PassengerId'].transform('count')
df['FamilySize'] = df['FamilySize'].fillna(1)
df['TravelAlone'] = df['FamilySize'] == 1

In [111]:
df['HomePlanet'] = df['HomePlanet'].fillna('Earth')
df['CryoSleep'] = df['CryoSleep'].fillna(False)
df['Destination'] = df['Destination'].fillna('TRAPPIST-1e')
df['VIP'] = df['VIP'].fillna(False)
df['CabinDeck'] = df['CabinDeck'].fillna('F')
df['CabinSide'] = df['CabinSide'].fillna('S')

In [112]:
df['Age'] = df['Age'].fillna(df['Age'].mode()[0])
df['RoomService'] = df['RoomService'].fillna(df['RoomService'].mode()[0])
df['FoodCourt'] = df['FoodCourt'].fillna(df['FoodCourt'].mode()[0])
df['ShoppingMall'] = df['ShoppingMall'].fillna(df['ShoppingMall'].mode()[0])
df['Spa'] = df['Spa'].fillna(df['Spa'].mode()[0])
df['VRDeck'] = df['VRDeck'].fillna(df['VRDeck'].mode()[0])

In [113]:
df['LogRoomService'] = np.log1p(df['RoomService'])
df['LogFoodCourt'] = np.log1p(df['FoodCourt'])
df['LogShoppingMall'] = np.log1p(df['ShoppingMall'])
df['LogSpa'] = np.log1p(df['Spa'])
df['LogVRDeck'] = np.log1p(df['VRDeck'])

In [114]:
df['GroupGroups'] = df['Group'].apply(lambda x: 0 if x < 3500 else 1 if x < 7500 else 2)
df['CabinNumGroups'] = df['CabinNum'].apply(lambda x: 0 if x < 312 else 1 if x < 687 else 2 if x < 1187 else 3)

In [115]:
df.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Destination', 'Age', 'VIP',
       'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Name',
       'Transported', 'Group', 'Number', 'GroupSize', 'CabinDeck', 'CabinNum',
       'CabinSide', 'Surname', 'FamilySize', 'TravelAlone', 'LogRoomService',
       'LogFoodCourt', 'LogShoppingMall', 'LogSpa', 'LogVRDeck', 'GroupGroups',
       'CabinNumGroups'],
      dtype='object')

In [116]:
df

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,Number,GroupSize,CabinDeck,CabinNum,CabinSide,Surname,FamilySize,TravelAlone,LogRoomService,LogFoodCourt,LogShoppingMall,LogSpa,LogVRDeck,GroupGroups,CabinNumGroups
0,0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham,False,1,01,1,B,0.0,P,Ofracculy,3.0,False,0.000000,0.000000,0.000000,0.000000,0.000000,0,0
1,0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna,True,2,01,1,F,0.0,S,Vines,4.0,False,4.700480,2.302585,3.258097,6.309918,3.806662,0,0
2,0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark,False,3,01,2,A,0.0,S,Susent,7.0,False,3.784190,8.182280,0.000000,8.812248,3.912023,0,0
3,0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam,False,3,02,2,A,0.0,S,Susent,7.0,False,0.000000,7.157735,5.918894,8.110728,5.267858,0,0
4,0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy,True,4,01,1,F,1.0,S,Santantines,9.0,False,5.717028,4.262680,5.023881,6.338594,1.098612,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,9266_02,Earth,True,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron,NaN,9266,02,2,G,1496.0,S,Peter,10.0,False,0.000000,0.000000,0.000000,0.000000,0.000000,2,3
12966,9269_01,Earth,False,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty,NaN,9269,01,1,F,NaN,S,Scheron,6.0,False,0.000000,6.742881,2.890372,2.397895,4.976734,2,3
12967,9271_01,Mars,True,55 Cancri e,18.0,False,0.0,0.0,0.0,0.0,0.0,Jayrin,NaN,9271,01,1,D,296.0,P,Pore,4.0,False,0.000000,0.000000,0.000000,0.000000,0.000000,2,0
12968,9273_01,Europa,False,TRAPPIST-1e,18.0,False,0.0,2680.0,0.0,0.0,523.0,Kitakan,NaN,9273,01,1,D,297.0,P,Conale,7.0,False,0.000000,7.893945,0.000000,0.000000,6.261492,2,0
12969,9277_01,Earth,True,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace,NaN,9277,01,1,G,1498.0,S,Leonzaley,9.0,False,0.000000,0.000000,0.000000,0.000000,0.000000,2,3

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12970 entries, 0 to 12969
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PassengerId      12970 non-null  object
 1   HomePlanet       12970 non-null  object
 2   CryoSleep        12970 non-null  bool
 3   Destination      12970 non-null  object
 4   Age              12970 non-null  float64
 5   VIP              12970 non-null  bool
 6   RoomService      12970 non-null  float64
 7   FoodCourt        12970 non-null  float64
 8   ShoppingMall     12970 non-null  float64
 9   Spa              12970 non-null  float64
 10  VRDeck           12970 non-null  float64
 11  Name             12676 non-null  object
 12  Transported      8693 non-null   object
 13  Group            12970 non-null  int64
 14  Number           12970 non-null  object
 15  GroupSize        12970 non-null  int64
 16  CabinDeck        12970 non-null  object
 17  CabinNum         12671 non-null  float64
 18  CabinSide        12970 non-null  object
 19  Surname          12676 non-null  object
 20  FamilySize       12970 non-null  float64
 21  TravelAlone      12970 non-null  bool
 22  LogRoomService   12970 non-null  float64
 23  LogFoodCourt     12970 non-null  float64
 24  LogShoppingMall  12970 non-null  float64
 25  LogSpa           12970 non-null  float64
 26  LogVRDeck        12970 non-null  float64
 27  GroupGroups      12970 non-null  int64
 28  CabinNumGroups   12970 non-null  int64
dtypes: bool(3), float64(13), int64(4), object(9)
memory usage: 2.6+ MB

In [118]:
df_fin = df[['PassengerId', 'HomePlanet', 'CryoSleep', 'Destination', 'Age', 'VIP', 'Transported', 'GroupSize', 'CabinDeck', 'CabinSide', 'FamilySize', 'LogRoomService','LogFoodCourt', 
             'LogShoppingMall', 'LogSpa', 'LogVRDeck', 'GroupGroups','CabinNumGroups']]

In [119]:
df_fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12970 entries, 0 to 12969
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PassengerId      12970 non-null  object
 1   HomePlanet       12970 non-null  object
 2   CryoSleep        12970 non-null  bool
 3   Destination      12970 non-null  object
 4   Age              12970 non-null  float64
 5   VIP              12970 non-null  bool
 6   Transported      8693 non-null   object
 7   GroupSize        12970 non-null  int64
 8   CabinDeck        12970 non-null  object
 9   CabinSide        12970 non-null  object
 10  FamilySize       12970 non-null  float64
 11  LogRoomService   12970 non-null  float64
 12  LogFoodCourt     12970 non-null  float64
 13  LogShoppingMall  12970 non-null  float64
 14  LogSpa           12970 non-null  float64
 15  LogVRDeck        12970 non-null  float64
 16  GroupGroups      12970 non-null  int64
 17  CabinNumGroups   12970 non-null  int64
dtypes: bool(2), float64(7), int64(3), object(6)
memory usage: 1.6+ MB

In [120]:
df_fin.nunique()

PassengerId        12970
HomePlanet             3
CryoSleep              2
Destination            3
Age                   80
VIP                    2
Transported            2
GroupSize              8
CabinDeck              8
CabinSide              2
FamilySize            19
LogRoomService      1578
LogFoodCourt        1953
LogShoppingMall     1367
LogSpa              1679
LogVRDeck           1642
GroupGroups            3
CabinNumGroups         4
dtype: int64

In [121]:
df_fin_enc = pd.get_dummies(df_fin, columns=['HomePlanet', 'Destination', 'CabinDeck', 'CabinSide', 'GroupGroups', 'CabinNumGroups'])

In [123]:
df_fin_enc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12970 entries, 0 to 12969
Data columns (total 35 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PassengerId                12970 non-null  object
 1   CryoSleep                  12970 non-null  bool
 2   Age                        12970 non-null  float64
 3   VIP                        12970 non-null  bool
 4   Transported                8693 non-null   object
 5   GroupSize                  12970 non-null  int64
 6   FamilySize                 12970 non-null  float64
 7   LogRoomService             12970 non-null  float64
 8   LogFoodCourt               12970 non-null  float64
 9   LogShoppingMall            12970 non-null  float64
 10  LogSpa                     12970 non-null  float64
 11  LogVRDeck                  12970 non-null  float64
 12  HomePlanet_Earth           12970 non-null  uint8
 13  HomePlanet_Europa          12970 non-null  uint8
 14  HomePlanet_Mars            12970 non-null  uint8
 15  Destination_55 Cancri e    12970 non-null  uint8
 16  Destination_PSO J318.5-22  12970 non-null  uint8
 17  Destination_TRAPPIST-1e    12970 non-null  uint8
 18  CabinDeck_A                12970 non-null  uint8
 19  CabinDeck_B                12970 non-null  uint8
 20  CabinDeck_C                12970 non-null  uint8
 21  CabinDeck_D                12970 non-null  uint8
 22  CabinDeck_E                12970 non-null  uint8
 23  CabinDeck_F                12970 non-null  uint8
 24  CabinDeck_G                12970 non-null  uint8
 25  CabinDeck_T                12970 non-null  uint8
 26  CabinSide_P                12970 non-null  uint8
 27  CabinSide_S                12970 non-null  uint8
 28  GroupGroups_0              12970 non-null  uint8
 29  GroupGroups_1              12970 non-null  uint8
 30  GroupGroups_2              12970 non-null  uint8
 31  CabinNumGroups_0           12970 non-null  uint8
 32  CabinNumGroups_1           12970 non-null  uint8
 33  CabinNumGroups_2           12970 non-null  uint8
 34  CabinNumGroups_3           12970 non-null  uint8
dtypes: bool(2), float64(7), int64(1), object(2), uint8(23)
memory usage: 1.3+ MB

In [122]:
df_fin_enc.isna().sum()

PassengerId                     0
CryoSleep                       0
Age                             0
VIP                             0
Transported                  4277
GroupSize                       0
FamilySize                      0
LogRoomService                  0
LogFoodCourt                    0
LogShoppingMall                 0
LogSpa                          0
LogVRDeck                       0
HomePlanet_Earth                0
HomePlanet_Europa               0
HomePlanet_Mars                 0
Destination_55 Cancri e         0
Destination_PSO J318.5-22       0
Destination_TRAPPIST-1e         0
CabinDeck_A                     0
CabinDeck_B                     0
CabinDeck_C                     0
CabinDeck_D                     0
CabinDeck_E                     0
CabinDeck_F                     0
CabinDeck_G                     0
CabinDeck_T                     0
CabinSide_P                     0
CabinSide_S                     0
GroupGroups_0                   0
GroupGroups_1                   0
GroupGroups_2                   0
CabinNumGroups_0                0
CabinNumGroups_1                0
CabinNumGroups_2                0
CabinNumGroups_3                0
dtype: int64

In [126]:
df_fin_test = df_fin_enc[df_fin_enc['Transported'].isna()]

In [127]:
df_fin_train = df_fin_enc[~df_fin_enc['Transported'].isna()]

In [133]:
df_fin_train.columns

Index(['PassengerId', 'CryoSleep', 'Age', 'VIP', 'Transported', 'GroupSize',
       'FamilySize', 'LogRoomService', 'LogFoodCourt', 'LogShoppingMall',
       'LogSpa', 'LogVRDeck', 'HomePlanet_Earth', 'HomePlanet_Europa',
       'HomePlanet_Mars', 'Destination_55 Cancri e',
       'Destination_PSO J318.5-22', 'Destination_TRAPPIST-1e', 'CabinDeck_A',
       'CabinDeck_B', 'CabinDeck_C', 'CabinDeck_D', 'CabinDeck_E',
       'CabinDeck_F', 'CabinDeck_G', 'CabinDeck_T', 'CabinSide_P',
       'CabinSide_S', 'GroupGroups_0', 'GroupGroups_1', 'GroupGroups_2',
       'CabinNumGroups_0', 'CabinNumGroups_1', 'CabinNumGroups_2',
       'CabinNumGroups_3'],
      dtype='object')

In [147]:
X = df_fin_train[['CryoSleep', 'Age', 'VIP', 'GroupSize',
       'FamilySize', 'LogRoomService', 'LogFoodCourt', 'LogShoppingMall',
       'LogSpa', 'LogVRDeck', 'HomePlanet_Earth', 'HomePlanet_Europa',
       'HomePlanet_Mars', 'Destination_55 Cancri e',
       'Destination_PSO J318.5-22', 'Destination_TRAPPIST-1e', 'CabinDeck_A',
       'CabinDeck_B', 'CabinDeck_C', 'CabinDeck_D', 'CabinDeck_E',
       'CabinDeck_F', 'CabinDeck_G', 'CabinDeck_T', 'CabinSide_P',
       'CabinSide_S', 'GroupGroups_0', 'GroupGroups_1', 'GroupGroups_2',
       'CabinNumGroups_0', 'CabinNumGroups_1', 'CabinNumGroups_2',
       'CabinNumGroups_3']]
y = df_fin_train['Transported'].astype(int)

In [148]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [149]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [150]:
from sklearn.model_selection import GridSearchCV

In [152]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(max_iter=1000)

param_grid = {'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000]}

grid_search = GridSearchCV(logreg, param_grid, cv=5)

grid_search.fit(X_train, y_train)

print("Najlepsze parametry: ", grid_search.best_params_)

accuracy = grid_search.score(X_test, y_test)
print("DokÅ‚adnoÅ›Ä‡ na zestawie testowym: {:.2f}".format(accuracy))

Najlepsze parametry:  {'C': 0.01}
DokÅ‚adnoÅ›Ä‡ na zestawie testowym: 0.78

In [156]:
from sklearn.neighbors import KNeighborsClassifier

param_grid = {'n_neighbors': [40, 45, 50, 55, 60],
              'weights': ['uniform', 'distance'],
              'metric': ['euclidean', 'manhattan', 'chebyshev', 'minkowski']}

knn = KNeighborsClassifier()

grid_search = GridSearchCV(knn, param_grid, cv=5)

grid_search.fit(X_train, y_train)

print("Najlepsze parametry: ", grid_search.best_params_)

accuracy = grid_search.score(X_test, y_test)
print("DokÅ‚adnoÅ›Ä‡ na zestawie testowym: {:.2f}".format(accuracy))

Najlepsze parametry:  {'metric': 'manhattan', 'n_neighbors': 40, 'weights': 'distance'}
DokÅ‚adnoÅ›Ä‡ na zestawie testowym: 0.77

In [157]:
from sklearn.ensemble import RandomForestClassifier

param_grid = {'n_estimators': [100, 200, 300, 400],
              'criterion': ['gini', 'entropy'],
              'max_depth': [None, 10, 20, 30],
              'min_samples_split': [2, 5, 10],
              'min_samples_leaf': [1, 2, 4]}

rf = RandomForestClassifier()

grid_search = GridSearchCV(rf, param_grid, cv=5)

grid_search.fit(X_train, y_train)

print("Najlepsze parametry: ", grid_search.best_params_)

accuracy = grid_search.score(X_test, y_test)
print("DokÅ‚adnoÅ›Ä‡ na zestawie testowym: {:.2f}".format(accuracy))

Najlepsze parametry:  {'criterion': 'entropy', 'max_depth': 20, 'min_samples_leaf': 1, 'min_samples_split': 10, 'n_estimators': 100}
DokÅ‚adnoÅ›Ä‡ na zestawie testowym: 0.80